.socials {
    position: fixed;
    top: 30%;
    left: 2%;
    width: 30px;
    z-index: 1;
}

.socials a {
    display: inline-block;
    height: 80px;
    width: 30px;
    opacity: 1;
}

.socials a img{
    width: 100%;
}